*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: "Inter", sans-serif;
    font-weight: 400;
}

/* .content1{
    width: 400px;
    height: auto;
    margin: 100px auto;
} */

.content2{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(to right , rgba(235, 240, 197,0.5), rgba(201, 241, 255,0.5));
}

.img1{
        
    filter: drop-shadow(5px 4px 10px black);
    -webkit-filter: drop-shadow(5px 4px 10px black);
}

/* .img1{
    height: 400px;
    width: auto;
    background-size: cover;
    filter: saturate(50%);
    -webkit-filter: saturate(50%);
}

.img2{
    height: 200px;
    width: auto;
    margin-left: 4rem;
    background-size: cover;
    filter: drop-shadow(-10px -5px 4px black);
    -webkit-filter: drop-shadow(-10px -5px 4px black);
} */