* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    margin: 100px auto;
}

/* .box {
    width: 50px;
    aspect-ratio: 1;
    background-color: rosybrown;
    translate: 0vw 0;
    animation: animate 10s ease-in 1s infinite alternate both;
    -webkit-animation: animate 10s ease-in 1s infinite alternate both;
}

.img {
    margin-top: 30px;
    width: 500px;
    height: 300px;
    background-color: rosybrown;
    translate: 0vw 0;
    animation: slide 10s ease 1s infinite alternate backwards;
    -webkit-animation: slide 10s ease 1s infinite alternate backwards;
} */

.circle {
    width: 350px;
    height: 350px;
    background: linear-gradient(to bottom, #e66465, #4b55c4);
    margin: 100px auto;
    border-radius: 50%;
    position: relative;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.circle .child::before {
    content: " ";
    position: absolute;
    top: 0;
    width: 0.1rem;
    height: 21.9rem;
    background: linear-gradient(rgb(241, 241, 238), rgb(255, 255, 255));
    translate: 170px 0;
    animation: rotattion 10s ease infinite alternate;
    -webkit-animation: rotattion 10s ease infinite alternate;
}



@keyframes rotation {
    0% {
        rotate: 0deg;
    }

    100% {
        translate: 100px 100px;
        rorate: 180deg;
    }
}


/* @keyframes animate {
    0% {
        rotate: 0deg;
        translate: 0vw 0;
    }

    40% {
        rorate: 180deg;
    }

    60% {
        rorate: 90deg;
    }

    100% {
        rotate: -360deg;
        translate: 50vw 0;
    }

}


@keyframes slide {
    0% {
        background-image: url("https://images.unsplash.com/photo-1704531815335-dab68018e8a9?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwyfHx8ZW58MHx8fHx8");
    }

    30% {
        background-image: url("https://images.unsplash.com/photo-1704186502060-247ad4c77626?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw1fHx8ZW58MHx8fHx8");
    }

    50% {
        background-image: url("https://images.unsplash.com/photo-1703877048317-c74856d65c42?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwxN3x8fGVufDB8fHx8fA%3D%3D");
    }

    70% {
        background-image: url("https://plus.unsplash.com/premium_photo-1681426298260-d0326427d7e0?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwyM3x8fGVufDB8fHx8fA%3D%3D");
    }

    100% {
        background-image: url("https://images.unsplash.com/photo-1703364342344-135b38cedcac?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwxOXx8fGVufDB8fHx8fA%3D%3D");
    }
} */