* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html {
    font-size: 65.5%;
}

body {
    font-family: "Inter", sans-serif;
}

.box-container {
    width: 300px;
    height: 200px;
    margin: 90px auto;
    position: relative;
    background-color: gray;
    perspective: 200px;
}

.box {
    width: 300px;
    height: 200px;
    position: absolute;
    top: 0;

}

.box-1 {
    background-color: gary;
}

& h2 {
    padding: 90px 0;
    text-align: center;
}

.box-2 {
    background-color: brown;
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 2s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;

    &:hover {
        color: white;
        /* background-color: white; */
        transform: translateY(300px);
        -webkit-transform: translateY(300px);
        -moz-transform: translateY(300px);
        -ms-transform: translateY(300px);
        -o-transform: translateY(300px);
    }

}