* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html {
    font-size: 65.5%;
}

body {
    font-family: "Inter", sans-serif;
}

.box-container {
    width: 100px;
    height: 100px;
    margin: 90px auto;
    position: relative;
    transform-style: preserve-3d;
    perspective: 400px;
    perspective-origin: center;
}

.dice {
    width: 100%;
    height: 100%;
    font-size: 5rem;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    backface-visibility: visible;
    -webkit-backface-visibility: visible;
    animation: rotation 2s ease alternate;
    -webkit-animation: rotation 2s ease alternate;
}

.dice-1 {
    transform: translateZ(50px) translateZ(50px);
    -webkit-transform: translateZ(50px) translateZ(50px);
    -moz-transform: translateZ(50px) translateZ(50px);
    -ms-transform: translateZ(50px) translateZ(50px);
    -o-transform: translateZ(50px) translateZ(50px);
    background-color: transparent;
}

.dice-2 {
    transform: translateZ(-100px) translateZ(50px);
    -webkit-transform: translateZ(-100px) translateZ(50px);
    -moz-transform: translateZ(-100px) translateZ(50px);
    -ms-transform: translateZ(-100px) translateZ(50px);
    -o-transform: translateZ(-100px) translateZ(50px);
    background-color: aqua;
}

.dice-3 {
    transform: rotateY(90deg) translateZ(50px);
    -webkit-transform: rotateY(90deg) translateZ(50px);
    -moz-transform: rotateY(90deg) translateZ(50px);
    -ms-transform: rotateY(90deg) translateZ(50px);
    -o-transform: rotateY(90deg) translateZ(50px);
    background-color: gray;
}

.dice-4 {
    transform: rotateX(-90deg) translateZ(50px);
    -webkit-transform: rotateX(-90deg) translateZ(50px);
    -moz-transform: rotateX(-90deg) translateZ(50px);
    -ms-transform: rotateX(-90deg) translateZ(50px);
    -o-transform: rotateX(-90deg) translateZ(50px);
    background-color: rgb(170, 82, 82);
}

.dice-5 {
    transform: rotateY(-90deg) translateZ(50px);
    -webkit-transform: rotateY(-90deg) translateZ(50px);
    -moz-transform: rotateY(-90deg) translateZ(50px);
    -ms-transform: rotateY(-90deg) translateZ(50px);
    -o-transform: rotateY(-90deg) translateZ(50px);
    background-color: rgb(206, 206, 100);
}

.dice-6 {
    transform: rotateX(90deg) translateZ(50px);
    -webkit-transform: rotateX(90deg) translateZ(50px);
    -moz-transform: rotateX(90deg) translateZ(50px);
    -ms-transform: rotateX(90deg) translateZ(50px);
    -o-transform: rotateX(90deg) translateZ(50px);
    background-color: rgb(68, 68, 161);
}

@keyframes rotation {
    0% {
        rotate: 0deg;
    }

    100% {
        rotate: 360deg;
    }
}