*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html{
    font-size: 65.5%;
}

body{
    font-family: "Inter", sans-serif;
    margin: 50px;
}

.unsplash-card{

    height: 300px;
    width: 450px;
    position: relative;

   .unsplash-card-image{
        height: 300px;
        width:  auto;
   }

   .fa-heart,.fa-plus,.fa-arrow-down{
       font-size: 1.2rem;
       background-color: white;
       border-radius: 5px;
       padding: 7px 15px;
       margin: 3px;
       -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
       -ms-border-radius: 5px;
       -o-border-radius: 5px;
    }

    .unsplash-card-icone{
        position: absolute;
        top:0px;
        right: 0px;
    }


}

