*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html{
    font-size: 65.5%;
}

body{
    font-family: "Inter", sans-serif;
}

.container{
    width: 70%;
    height: 100vh;
    background: url("../img/back.avif") no-repeat scroll center;
    background-size: contain;
    padding-top: 200px;
}
.heading{
    text-align: top center;
}
