/* ============================================================
    variable/theme rules
============================================================  */

:root {
    --main-color: #0062ff;
    --supporting-color: #ebf3fe;
    --font-color: #424242;
    --bg-color: #f7fcff;
    --heading-color: #000a19;
    --para-color: #504e4d;
    --test: #070101;
    --white-color: #ffffff;
    --footer-bg-color: #040d12;
    --hero-heading-color: #003b99;
    --btn-hover-bg-color: #003b99;
    --btn-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/* ============================================================
    base rules
============================================================  */

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: "Poppins", sans-serif;

}

h1, h2, h3, h4, h5, h6 {
    font-family: "Inter", sans-serif;
    font-weight: 700;
}

button {
    outline: none;
    border: none;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

p, li, a {
    font-family: "Urbanist", sans-serif;
    font-weight: 400;
    letter-spacing: 0.1rem;
    color: var(--para-color);
    font-size: 1.55rem;
    line-height: 1.5;
}

/* ============================================================
    layout rules
============================================================  */
.container {
    padding: 2rem 4rem;
    margin: 0 auto;
    max-width: 1300px;
}

.grid {
    display: grid;
}

.grid-two--col {
    grid-template-columns: repeat(2, 1fr);
}

.grid-three--cols {
    grid-template-columns: repeat(3, 1fr);
}

.grid-four--cols {
    grid-template-columns: repeat(4, 1fr);
}

/* ============================================================
    state rules
============================================================  */
.btn {
    display: inline-block;
    color: var(--white-color);
    padding: 1.2rem 3.2rem;
    background-color: var(--main-color);
    border-radius: 0.6rem;
    -webkit-border-radius: 0.6rem;
    -moz-border-radius: 0.6rem;
    -ms-border-radius: 0.6rem;
    -o-border-radius: 0.6rem;
}

/* ============================================================
    module rules
============================================================  */

.section-common-heading {
    font-size: 2.6rem;
    font-weight: 700;
}

.section-common-tittle {
    font-size: 1.6rem;
    font-weight: 700;
    margin: 1.6rem 0;
}

.section-common-subheading {
    margin: 1rem 0 0 0;
}

.fa-solid, .fa-brands {
    padding: 2rem;
    font-size: 3rem;
    background-color: var(--supporting-color);
    color: var(--main-color);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

:is(.explore-section, .why-choose-section) {
    margin: 10rem 0;
}

:is(.why-choose-card) {
    & span {
        color: var(--btn-hover-bg-color);
        font-weight: 700;
        padding: 1rem 2rem;
        font-size: 2rem;
        background-color: var(--supporting-color);
        border-radius: 50px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        -ms-border-radius: 50px;
        -o-border-radius: 50px
    }
}

:is(.why-choose-left, .why-choose-right) .why-choose-card {
    &:nth-child(2) {
        margin: 4rem 0rem;
    }
}

:is(.grid) {
    margin-top: 4rem;
    gap: 3rem;
}

/* ============================================================
    starting header css
============================================================  */


.navi-section .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container .web-logo img {
    max-width: 90%;
    height: auto;
}

.container .nav-list-detail ul {
    display: flex;
    gap: 1.5rem;

    & li a {
        position: relative;
        font-weight: 700;

        &::after {
            content: " ";
            position: absolute;
            bottom: 0;
            left: -0.1rem;
            width: 0%;
            border-bottom: 0.2rem solid var(--main-color);
            transition: all 0.5s ease;
            -webkit-transition: all 0.5s ease;
            -moz-transition: all 0.5s ease;
            -ms-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
        }
    }

    & li a:hover::after {
        width: 100%;
    }
}



/* ============================================================
      starting <hero section > css
============================================================  */

main {
    position: relative;
    background-image: linear-gradient(to top right,
            #3d86fa,
            #4484fb,
            #679eff,
            #b3d2ff,
            #ebf3fe);

    & .custom-shape-divider-bottom-1704435580 {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
        transform: rotate(180deg);
    }

    & .custom-shape-divider-bottom-1704435580 svg {
        position: relative;
        display: block;
        width: calc(100% + 1.3px);
        height: 60px;
    }

    & .custom-shape-divider-bottom-1704435580 .shape-fill {
        fill: #ffffff;
    }

    & .container {
        align-items: center;

        & .hero-details {
            & .hero-span {
                text-transform: capitalize;
                letter-spacing: 0.2rem;
                word-spacing: 0.5rem;
            }

            & h1 {
                font-size: 4rem;
            }

            & .hero-para {
                padding: 2rem 0 4rem 0;
                color: white;
            }
        }

        & figure {
            display: flex;
            align-items: center;

            & img {
                max-width: 80%;
                height: auto;
                transform: scaleX(-1)
            }
        }
    }
}


/* ============================================================
      starting <about section > css
 ============================================================  */

.about-section {
    & .about-card {
        text-align: center;

        & img {
            padding: 2rem;
            width: 10rem;
            height: 10rem;
            background-color: var(--supporting-color);
            border-radius: 50%;
            transition: all 0.5s linear;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            -webkit-transition: all 0.5s linear;
            -moz-transition: all 0.5s linear;
            -ms-transition: all 0.5s linear;
            -o-transition: all 0.5s linear;

            &:hover {
                background-color: var(--hero-heading-color);
                cursor: pointer;
                rotate: 360deg;
            }
        }
    }
}

/* ============================================================
    starting <explore section > css
============================================================  */

.explore-section {

    & .container .explore-card {
        text-align: center;
        padding: 1rem;

        &:hover {
            box-shadow: var(--btn-box-shadow);
            cursor: pointer;
        }
    }
}

/* ============================================================
    starting <why choose section > css
============================================================  */
.why-choose-section {
    & .why-choose-left .why-choose-card {
        text-align: right;
    }

    & .why-choose-center {
        display: flex;
        align-items: center;

        figure img {
            max-width: 100%;
            height: auto;
            background-color: var(--supporting-color);
            padding: 1rem 0rem;
            border: 0.4rem solid var(--supporting-color);
            border-radius: 50%;
            transition: all 1s linear;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            -webkit-transition: all 1s linear;
            -moz-transition: all 1s linear;
            -ms-transition: all 1s linear;
            -o-transition: all 1s linear;

            &:hover {
                background-color: var(--main-color);
            }
        }
    }
}

/* ============================================================
    startiing <home contact section> css
============================================================  */

.contact-home-section .container {
    width: 100rem;
    box-shadow: var(--btn-box-shadow);
    margin-bottom: 4rem;
    padding: 4rem;

    .grid {
        justify-items: center;
        align-items: center;
    }

    & .contact-home-content {
        & h2 {
            font-size: 2rem;
        }

        & p {
            margin: 1.5rem 0;
        }

        & button i {
            font-size: 2.6rem;
            padding: 0;
            color: var(--main-color);
            background-color: var(--white-color);
        }
    }

    .contact-home-image img {
        max-width: 80%;
        height: auto;
    }
}


/* ============================================================
    startiing < footer section> css
============================================================  */

footer * {
    color: var(--white-color);
}

footer {
    background-color: var(--footer-bg-color);
    padding: 5rem;

    .grid {
        justify-content: space-evenly;
        align-items: center;
    }

    & .footer-detail {
        & p {
            margin: 1.5rem 0;
        }

        & .footer-detail-list {
            display: flex;
            gap: 2rem;

            .fa-brands {
                padding: 1rem;
                font-size: 1.5rem;
            }
        }
    }

    .footer-list {
        color: white;
        text-align: center;
    }
}