*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: "Inter", sans-serif;
    font-weight: 400;
}

h1{
    text-align: center;
}
p,a{
    border: 1px solid black ;
    word-spacing: 4px;
    line-height: 25px;
    margin: 30px 20px;
    padding: 5px;
    display: inline-block;
}


